<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
	see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="4.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd">
	<display-name>Social Media Web</display-name>
	<welcome-file-list>
		<welcome-file>login</welcome-file>
		<welcome-file>default.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>UserLoginController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.UserLoginServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegisterController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.UserRegisterServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegisterController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserForgotPasswordController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.UserForgotPasswordServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserForgotPasswordController</servlet-name>
		<url-pattern>/forgot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserChangePasswordController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.UserChangePasswordServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserChangePasswordController</servlet-name>
		<url-pattern>/changePassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserPostStatusController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.PostStatusServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserPostStatusController</servlet-name>
		<url-pattern>/postStatus</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomeController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.HomePageServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CommentController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.CommentServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentController</servlet-name>
		<url-pattern>/comment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LikeController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.LikeServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LikeController</servlet-name>
		<url-pattern>/like</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProfileController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.ProfileServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileController</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>PostStatusInProfileController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.PostStatusInProfileServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostStatusInProfileController</servlet-name>
		<url-pattern>/postStatusProfile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CommentInProfileController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.CommentInProfileServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentInProfileController</servlet-name>
		<url-pattern>/commentStatusProfile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditProfileController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.EditProfileServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfileController</servlet-name>
		<url-pattern>/editProfile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteStatusController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.DeleteStatusServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteStatusController</servlet-name>
		<url-pattern>/deleteStatus</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SearchFriendController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.SearchFriendServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchFriendController</servlet-name>
		<url-pattern>/searchFriend</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddFriendController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.AddFriendServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFriendController</servlet-name>
		<url-pattern>/addFriend</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UnFriendController</servlet-name>
		<servlet-class>edu.hanu.social_media_platform_client.controller.UnfriendServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UnFriendController</servlet-name>
		<url-pattern>/unFriend</url-pattern>
	</servlet-mapping>
</web-app>
